<header>
  <a href="#" class="logo">Food<span>.</span></a>
  <ul class="navegacion">
    <li><a href="#inicio">Home</a></li>
    <li><a href="#nosotros">Nosotros</a></li>
    <li><a href="#menu">Menu</a></li>
    <li><a href="#chef">Chef</a></li>
    <li><a href="#sugerencia">Sugerencia</a></li>
    <li><a href="#comentarios">Comentarios</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
</header>

<section class="inicio" id="inicio">
  <div class="contenido">
    <h2>Disfruta de un buen sabor</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
      necessitatibus nulla veritatis, vitae quia vero accusamus eos deleniti
      quos nobis eum debitis nihil odio sunt.
    </p>
    <a href="#" class="boton">Haga su reserva</a>
  </div>
</section>
<section class="nosotros" id="nosotros">
  <div class="contenedor">
    <div class="columna">
      <h2 class="titulotext"><span>N</span>osotros</h2>

      <p>
        La historia del Restaurante Arzak comienza en 1897 cuando los abuelos de
        Juan Mari Arzak construyeron la casa en la que hoy en día sigue estando
        su Restaurante. Primero fue una bodega de vinos y taberna.
      </p>
      <p>
        Más tarde los padres de Juan Mari Arzak, lo convirtieron en casa de
        comidas de cierta relevancia y refinamiento, con Paquita Arratibel como
        cocinera. Destacaban sus guisos y elaboraciones básicas del recetario
        vasco y donostiarra. En 1966 Juan Mari Arzak se hace cargo del
        Restaurante junto a su madre. Ella fue su maestra en la cocina
        tradicional vasca, a la que sumó su gran curiosidad y ganas de innovar
        que le llevaron a elaborar sus propias recetas.
      </p>
      <p>
        Platos tradicionales vascos a los que daba su toque personal. Muy pronto
        llamó la atención su gran talento, y con tan sólo 32 años, recibió el
        Premio Nacional de Gastronomía, y el Restaurante Arzak obtuvo la primera
        estrella de la prestigiosa guía Michelín en 1972. A partir de mediados
        de los años 70, comienza a recibir premios y reconocimientos que
        convierten al Restaurante Arzak en un referente de la gastronomía
        nacional e internacional. En 1976 Juan Mari Arzak, junto a un grupo de
        cocineros, revolucionaron la cocina y crearon un concepto y un
        movimiento: La Nueva Cocina Vasca. En 1978 obtuvo la segunda estrella
        Michelín y en 1989 le otorgan la tercera estrella de la Guía Michelín.
        Fue el segundo en recibir el triple reconocimiento en España y las
        mantiene desde entonces.
      </p>
      <p>
        En la década de los noventa Elena Arzak, hija de Juan Mari Arzak, se
        incorpora al restaurante familiar. Elena estudió Hostelería en Suiza y
        después pasó por las grandes cocinas de Europa, incluyendo la Maison
        Troisgros , Pierre Gagnaire, Carré des Feuillants y Le Vivarois en
        Francia, Louis XV en Montecarlo, Le Gavroche en Londres, Antica Ostería
        del Ponte en Italia y El Bulli en España. En mayo de 2001 recibió el
        premio Chef de l’Avenir de la Academia Internacional de Gastronomía. En
        2010, La Academia de la Gastronomía Española le concede el Premio
        Nacional de Gastronomía. Y en 2012 se corona como la Mejor Chef femenina
        del Mundo Veuve Clicquot. Hoy, Juan Mari Arzak comparte junto a su hija
        Elena cocina, conocimientos, pasión y ganas por seguir haciendo historia
        en Arzak. Historia de los Arzak.
      </p>
    </div>

    <div class="columna">
      <div class="imgcolumna">
        <img src="/images/nosotros.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="menu" id="menu">
  <div class="titulo">
    <h2 class="titulotext">Nuetro <span>M</span>enu</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>

  <div class="carousel">
    <h2 class="center-align titulotext">pastas</h2>
    <div class="carousel-item">
      <img src="/images/menu.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/pasta1.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/pasta2.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/pasta3.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/pasta4.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/pasta5.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/pasta8.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/menu3.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
  </div>

  <div class="carousel">
    <h2 class="center-align titulotext">carnes</h2>
    <div class="carousel-item">
      <img src="/images/carne1.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne2.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne3.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne4.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne5.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne6.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne7.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne8.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne9.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/carne10.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
  </div>
  <div class="carousel">
    <h2 class="center-align titulotext">internacional</h2>
    <div class="carousel-item">
      <img src="/images/internacional.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional1.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional2.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional3.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional4.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional5.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional6.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional7.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/internacional8.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
  </div>
  <div class="carousel">
    <h2 class="center-align titulotext">vegana</h2>
    <div class="carousel-item">
      <img src="/images/vegan.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/vegan1.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/vegan2.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/vegan3.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/vegan4.png" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/vegan5.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/vegan6.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/vegan7.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
  </div>
  <div class="carousel">
    <h2 class="center-align titulotext">postres</h2>
    <div class="carousel-item">
      <img src="/images/postre.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre1.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre2.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre3.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre4.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre5.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre6.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre7.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre8.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre9.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre10.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre11.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
    <div class="carousel-item">
      <img src="/images/postre13.jpg" alt="" />
      <h3>descripcion</h3>
    </div>
  </div>
</section>
<section class="expert" id="chef">
  <div class="titulo">
    <h2 class="titulotext">Nuestros <span>E</span>xpertos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <!--<div class="contenidoexperto">
            <div class="cajaexperto">
                <div class="imgexperto">
                    <img src="imagenes/chef1.jpg" alt="">
                </div>
                <div class="textoexperto">
                    <h3>Los mejores Chef</h3>
                </div>
            </div>
            <div class="cajaexperto">
                <div class="imgexperto">
                    <img src="imagenes/expert2.jpg" alt="">
                </div>
                <div class="textoexperto">
                    <h3>Los mejores Chef</h3>
                </div>
            </div>
            <div class="cajaexperto">
                <div class="imgexperto">
                    <img src="imagenes/expert3.jpg" alt="">
                </div>
                <div class="textoexperto">
                    <h3>Los mejores Chef</h3>
                </div>
            </div>
            <div class="cajaexperto">
                <div class="imgexperto">
                    <img src="imagenes/expert4.jpg" alt="">
                </div>
                <div class="textoexperto">
                    <h3>Los mejores Chef</h3>
                </div>
            </div>
        
        </div>-->
  <div class="expertoContenido">
    <div class="contenedorExperto">
      <div class="cajaExperto">
        <div class="imagenExperto">
          <img src="/images/cocinero.jpg" alt="" />
        </div>
        <div class="contenidoExperto">
          <div class="comentariosExperto">
            <h2>Wang Liú Zhang<br /><span>Conida Oriental</span></h2>
            <ul class="redesExperto">
              <li>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cajaExperto">
        <div class="imagenExperto">
          <img src="/images/cocinero1.jpg" alt="" />
        </div>
        <div class="contenidoExperto">
          <div class="comentariosExperto">
            <h2>Grégoire Bernard<br /><span>Cocinero Vegano</span></h2>
            <ul class="redesExperto">
              <li>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cajaExperto">
        <div class="imagenExperto">
          <img src="/images/cocinero2.jpg" alt="" />
        </div>
        <div class="contenidoExperto">
          <div class="comentariosExperto">
            <h2>
              Giovanni D’amico<br /><span>Cocina Internacional</span>
            </h2>
            <ul class="redesExperto">
              <li>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cajaExperto">
        <div class="imagenExperto">
          <img src="/images/cocinero3.jpg" alt="" />
        </div>
        <div class="contenidoExperto">
          <div class="comentariosExperto">
            <h2>Carolina Carola<br /><span>Experta en Postres</span></h2>
            <ul class="redesExperto">
              <li>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sugerencia" id="sugerencia">
  <div class="titulo sugerencia">
    <h2 class="titulotext">Sugerencia del <span>C</span>hef</h2>
  </div>
  <main class="holder">
    {{#each novedades}}
      <div class="novedades">

        <h3>{{titulo}}</h3>
        <h4>{{subtitulo}}</h4>
        <p>{{cuerpo}}</p>
        {{#if imagen}}
          <img src="{{imagen}}" />
        {{/if}}
      </div>
    {{/each}}
  </main>
</section>
<section class="comentario" id="comentarios">
  <div class="titulo clientes">
    <h2 class="titulotext">Nuestros <span>C</span>lientes</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elitconsectetur
      adipisicing elit .
    </p>
  </div>
  <div class="contenidocomentarios">
    <div class="cajacomentario">
      <div class="imgcomentario">
        <img src="/images/testi1.jpg" alt="" />
      </div>
      <div class="textocomentario">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          inventore officia odio autem. Unde, iste recusandae et non, deleniti
          reprehenderit corporis aliquid eius sequi quae assumenda minus cum
          quos dolorem.
        </p>
        <h3>Analia Perez</h3>
      </div>
    </div>
    <div class="cajacomentario">
      <div class="imgcomentario">
        <img src="/images/testi2.jpg" alt="" />
      </div>
      <div class="textocomentario">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          inventore officia odio autem. Unde, iste recusandae et non, deleniti
          reprehenderit corporis aliquid eius sequi quae assumenda minus cum
          quos dolorem.
        </p>
        <h3>Carlos Ramirez</h3>
      </div>
    </div>
    <div class="cajacomentario">
      <div class="imgcomentario">
        <img src="/images/testi3.jpg" alt="" />
      </div>
      <div class="textocomentario">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          inventore officia odio autem. Unde, iste recusandae et non, deleniti
          reprehenderit corporis aliquid eius sequi quae assumenda minus cum
          quos dolorem.
        </p>
        <h3>Samanta Diaz</h3>
      </div>
    </div>
  </div>
</section>
<section class="contacto" id="contacto">
  <div class="titulo">
    <h2 class="titulotext"><span>C</span>ontacto</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elitconsectetur
      adipisicing elit .
    </p>
  </div>

  <div class="contactoformulario">
    <form action="/index" method="post">
      <h3>Envianos tu mensaje</h3>
      <div class="formulario">
        <input type="text" placeholder="Nombre" name="nombre" required />
      </div>
      <div class="formulario">
        <input type="email" placeholder="Email" name="email" required />
      </div>
      <div class="formulario">
        <input type="text" placeholder="Telefono" name="telefono" required />
      </div>
      <div class="formulario">
        <textarea placeholder="Comentario" name="comentario"></textarea>
      </div>
      <div class="formulario">
        <input class="enviar" type="submit" value="enviar" />
      </div>
    </form>
    <p>{{message}}</p>
  </div>

</section>